*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.p1{
    margin: 20px;
}

main{
    display: flex;
}
.section1{
    width: 75%;
    
    margin: 20px;
    margin-top: 50px;
    
}
.section2{
    width: 25%;
    height: 1060px;
}
header{
    width: 100%;
    height: 80px;
    padding: 10px 17px ;
    line-height: 80px;  /*ուղղահայաց կենտրոն բերելու համար*/ 
    
}
h1{
    font-family: 'Libre Bodoni', serif;
    display: inline;   /* բլոկ տեսակից սրաքում ենք ինլայն */
    margin-right: 8px; /*Կոմիտասը մի փոքր մյուս տեքստից հեռույացնելու համար*/
}
.xmbagrel{
    color:rgb(113, 113, 243);
    letter-spacing: 0.9px;
    text-decoration: none;
}
.xmbagrel:hover{
    color:blue;
    text-decoration:underline;
    
}

.red{
    color:rgb(235, 89, 89);
}
.red:hover{
    color: red;
}

/*section 2 style*/
.section2{
    margin-top: 50px;
    border: 1px solid black;
}
h2{ margin: 5px;
    background: #BFE0BF;
    text-align: center;
}
.komitas{
    margin-bottom: 10px;
}
.nktitle{
    text-align: center;
}
/*table*/
table{
    margin: 5px;
    font-size: 15px;
}
th{
    background: #BFE0BF;
}
.td1{
    background:#EDEDED;
    font-weight: bold;
    text-align: right;
}
.section3{
    padding: 20px;
}
/*list*/

h4{
    text-align: center;

}
.list1{
    width: 400px;
    height: 400px;
    border:1px solid black;
    background-color: #F8F9FA;
}





/*ներդրված համարակալում*/
ol{ 
    padding:10px; 
    list-style: none;/*բոլոր համարակալումները հանենք*/
    counter-reset: item;/* ստեղծենք հաշվիչ իտեմ անունով նախնական արժեքը 0*/
} 

ol  li {
    counter-increment: item; /*amen ol լիին գումարի 1*/
}
  ol  li:before {
    content: counters(item, ".") ". ";/*սելեկտորները ունենում են content որի մեջ գրվում է այն ինչ ուզում ենք որևա էկռանին*/
}


